<div class=“form-group”>
  <div class="row py-1">
    <div class="col-md-12">
      <%= label_tag :name_on_card, 'Name on Credit Card' %>
      <%= text_field_tag :name_on_card, nil, { :name => nil, data: {stripe: 'name'}, class: 'form-control form-control-sm', id: 'ccname' } %>
       <p class="small hidden text-danger">Required</p>
    </div>
  </div>
</div>
<div class=“form-group”>
  <div class="row py-1">
    <div class="col-md-8">
      <%= label_tag :card_number, 'Credit Card Number' %>
      <%= text_field_tag :card_number, nil, { :name => nil, data: {stripe: 'number'}, class: 'form-control form-control-sm', id: 'ccnumber' } %>
       <p class="small hidden text-danger">Required</p>
    </div>
    <div class="col-md-4">
      <%= label_tag :card_code, 'CVC' %>
      <%= text_field_tag :card_code, nil, { :name => nil, data: { stripe: 'cvc'}, class: 'form-control form-control-sm', id: 'cvc' } %>
       <p class="small hidden text-danger">Required</p>
    </div>
  </div>
</div>
<div class=“form-group”>
  <div class="row py-1">
    <div class="col-md-6">
      <%= label_tag :exp_month, 'Exp Month' %>
      <%= select_month nil, { use_two_digital_numbers: true }, { :name => nil, data: {stripe: 'exp_month'}, class: 'form-control form-control-sm', id: 'ccmonth'} %>
    </div>
    <div class="col-md-6">  
      <%= label_tag :exp_year, 'Exp Year' %>
      <%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year+10 }, { :name => nil, data: {stripe: 'exp_year'}, class: 'form-control form-control-sm', id: 'ccyear' } %>
    </div>
  </div>
</div>
<div class="field py-1">
    <%= label_tag(:couponCode, 'Coupon Code') %>
    <%= text_field_tag(:couponCode, "", class: 'form-control form-control-sm')%>
</div>
