<%= form_for @order, html: { multipart: true } do |f| %>
  <% if @order.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h5>Error(s) prohibited this order from being saved:</h5>
        <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

<div class="form-group">
  <div class="field py-1">
    <label for="name">Company / Organization</label>
    <%= f.text_field :company, class: "form-control", id:'order_company' %>
    <p class="small hidden text-danger">Required</p>
  </div>

  <%= render 'orders/form_promo_text', :f => f %>

  <h4 class="pt-1">Edit your promotions dates</h4>

  <% if @order.package.promo != 0 %>
      <div id="date_inventories" class="field py-1">
      <h6><label>Regular Promotions</label> <a href="#" class="text-muted" data-toggle="tooltip" data-html="true" data-placement="right" title="<%= render :partial => 'shared/promos/promo' %>"><i class="fa fa-question-circle" aria-hidden="true"></i></a></h6>
      <p class="form-text text-muted">Please select <%= pluralize(@order.package.promo, 'date') %></p>
        <div id="datepicker"></div>
        <%= f.hidden_field :standard_repo, id: 'date_hidden_input', placeholder: "Select Date" %>
        <p class="small hidden text-danger" style="padding-top:0.3rem">Incomplete! Select <span></span> more date(s).</p>
      </div>
  <% end %>

  <% if @order.package.title != 0 %>
      <div id="title_dates" class="field py-1">
      <h6><label>Title Promotions</label> <a href="#" class="text-muted" data-toggle="tooltip" data-html="true" data-placement="right" title="<br><%= render :partial => 'shared/promos/title' %>"><i class="fa fa-question-circle" aria-hidden="true"></i></a></h6>
      <p class="form-text text-muted">Please select <%= pluralize(@order.package.title, 'date') %>.</p>

      <div id="titledatepicker"></div>
         <%= f.hidden_field :topline_repo, id:'title_hidden_input', placeholder: "Select Date"%>
          <p class="small hidden text-danger" style="padding-top:0.3rem">Incomplete! Select <span></span> more date(s).</p>
      </div>
  <% end %>

  <% if @order.package.event != 0 %>
      <div id="event_dates" class="field py-1">
        <h6><label>Event Promotions</label> <a href="#" class="text-muted" data-toggle="tooltip" data-html="true" data-placement="right" title="<br><%= render :partial => 'shared/promos/event' %>"><i class="fa fa-question-circle" aria-hidden="true"></i></a></h6>
        <p class="form-text text-muted">Please select <%= pluralize(@order.package.event, 'date') %></p>

        <div id="eventdatepicker"></div>
        <%= f.hidden_field :event_repo, id:'event_hidden_input', placeholder: "Select Date"%>
        <p class="small hidden text-danger" style="padding-top:0.3rem">Incomplete! Select <span></span> more date(s).</p>
      </div>
  <% end %>
  <br>

<% if current_page?(action: 'edit') %>
  <div class="actions">
    <%= f.submit 'Update Order', class:  "btn btn-primary #{ENV['CLASS']}", id:'contactbtn' %>
  </div>
<% else %>
  <div class="actions">
    <%= f.submit 'Place Your Order', class: "btn btn-primary #{ENV['CLASS']}" %>
  </div>
<% end %>
<% end %>

<%= javascript_include_tag 'edit-datepicker.js' %>
<%= javascript_include_tag 'textarea.js' %>
<%= javascript_include_tag 'form-validations.js' %>
