<table class="table table-striped">
	<thead>
		<th>ID</th>
		<th>Promotion Type</th>
		<th>Date</th>
		<th>Total Reads</th>
		<th>Total Clicks</th>
		<th></th>
	</thead>
	<tbody>
	<% @order.promos.order(:date).each do |promo| %>
		<tr>
			<td><%= promo.id %></td>
			<td><%= promo.promo_type == 'topline' ? 'Title' : promo.promo_type.capitalize %></td>
			<td><%= promo.date == ' ' ? '<span class="badge badge-pill badge-warning">Action Required</span>&nbsp;&nbsp;<b>You have an extra promotion that needs to be scheduled! Please select the edit button.</b>'.html_safe : Date.parse(promo.date.to_s).strftime("%b %d, %Y (%A)") %></td>
			<td class='wbu_total_reads'><%= number_with_precision(promo.total_reads, :precision => 0, :delimiter => ',') %></td>
			<td><%= number_with_precision(promo.total_clicks, :precision => 0, :delimiter => ',') %></td>
			<td>
			<% if promo.expiry == false %>
				<%= link_to '', edit_promo_path(promo), style: "float: right; padding-right: 5px", class: "icon-pencil text-muted" %>
			<% end %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>
