<div class="container-fluid">
  <div class="animated fadeIn">

    <% if @order.promos.where(date: ' ').present? %>
      <% @empty = @order.promos.where(date: ' ').count %>
      <div class='alert alert-danger' role="alert">Your order has unused promotion credits! Check out the list below to use them.</div>
    <% end %>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
        	<div class="card-header">
            Summary for Order #<%= @order.id %>
          <br>
            <% if @order.stripe_id.present? %>
           		<small>Stripe Payment Charge #<%= @order.stripe_id %></small>
            <% end %>
          </div>
    <div class="card-block">
    <div class="row">
		<div class="col-sm-3">
				<strong><%= @order.user.full_name %></strong><br />
				<%= @order.user.email %><br />
				<%= @order.user.company %><br />
				<%= @order.user.phone %><br /><br />
        <strong>Organization</strong><br />
				<%= @order.company %><br />
		</div>

      <div class="col-sm-8">

				<dl class="row">
          <div class="row">
          <% @promos.each do |promo| %>
          <div class="col-sm-8">
            <div class="card">
              <div class="card-header">
                <td>#<%= promo.id %></td> -
                <td><% promo.promo_type == 'topline' ? 'Title' : promo.promo_type.capitalize %></td>
                <td><%= Date.parse(promo.date.to_s).strftime("%b %d, %Y (%A)") %></td>
                <% if promo.expiry == false %>
                  <%= link_to '', edit_promo_path(promo), style: "float: right" , class: "text-muted icon-pencil" %>
                <% end %>
              </div>
              <% if promo.promo_type == 'topline' %>
                <div class="card-block row">
                  <div class="col-sm-3" style="float:left; padding-right: 13px;"><%= image_tag(promo.logo_url(:thumb), class: 'thumb-size') %></div>
                  <div class="col-sm-9">
                    <div><%= promo.emoji %> <a href="<%= promo.link %>" style="color: #6DC6DD"><strong><u> <%= promo.headline %></u></strong></a></div>
                    <div><%= promo.text %></div>
                    <div><a href="<%= promo.link %>"><span class="font-xs" style="color:#6DC6DD"><u>LEARN MORE &raquo;</u></span></a></div>
                  </div>
                </div>
              <% else %>
                <div class="card-block" style="min-height: 100px">
                  <div class="text-center"><%= promo.emoji %> <a href="<%= promo.link %>" style="color: #6DC6DD"><u><strong> <%= promo.headline %></strong></u></a></div>
                <div class="text-center"><%= promo.text %></div><a href="<%= promo.link %>"><div class="text-center pt-1"><span class="font-xs" style="color: #6DC6DD"><u>LEARN MORE &raquo;</u></span></div></a>
                </div>
              <% end %>
            </div>
          </div>
        	<% end %>

        </div>
				</dl>

          	</div>
          	</div>
          	<div class="row">
          		<div class="col-sm-12">
          		<h5 class="my-1">Promotional Metrics</h5>
          		   <%= render 'orders/invoice_table' %>
          		</div>
          	</div>
          	<div class="row my-2">
          		<div class="col-sm-6">
          		<h5 class="my-1">Totals</h5>
          		<dl class="row">

      				<dt class="col-sm-7">Original Package Price</dt>
      				<dd class="col-sm-3" style="text-align: right"><%= number_to_currency(@order.package.price.to_i) %></dd>

      				<% if @order.find_coupon.present? %>
      				<dt class="col-sm-7">Coupon</dt>
      				<dd class="col-sm-3" style="text-align: right"><%= @order.code %></dd>
      				<dt class="col-sm-7"></dt>
      				<dd class="col-sm-3" style="text-align: right">( -<%=  number_to_currency(@order.discount) %> )</dd>
      				<% end %>

      				<dt class="col-sm-7">Final Amount</dt>
      				<dd class="col-sm-3" style="text-align: right">
				    <% if @order.final_amount.present? %>
						<strong><%= number_to_currency(@order.final_amount / 100.00) %></strong>
					<% else %>
						<p>N/A</p>
					<% end %>
				</dd>
				</dl>
          		</div>
          	</div>
			    </div>
      	</div>
      </div>
    </div>
  </div>
</div>
