<div class="container" id="by_date">
	<div class="card">
	    <div class="card-header">
	       	<% @promos.limit(1).each do |promo| %>
	        	<% @prev_date = Date.parse(promo.date).ago(1.day) %>
	        	<% @prev_date = @prev_date.strftime("%Y-%m-%d") %>
	        	<% @next_date = Date.parse(promo.date).ago(-1.day) %>
	        	<% @next_date = @next_date.strftime("%Y-%m-%d") %>
	        	<%= link_to "<", date: @prev_date %> Promotions for <%= Date.parse(promo.date.to_s).strftime("%b %d, %Y") %> <%= link_to ">", date: @next_date %>
	      	<% end %>
         <div style="float:right">
	      	<span id="newsletter_name"><%= @site.name %></span>&nbsp&nbsp
			<% if current_user.sites.count > 1 %>
			   <%= select_tag "city", options_from_collection_for_select(current_user.sites, :city, :name), prompt: "Select another site", id: "select" %>
			<% end %>
     		</div>
	    </div>
	    <div class="card-block">
	        <table class="table table-striped">
	        	<thead class="">
	        	  <tr>
	        	    <th>Company</th>
	        	    <th><center>Promotion</center></th>
	        	    <th>Type</th>
								<th>Total Reads</th>
								<th>Total Clicks</th>
	        	    <th colspan="2"></th>
	        	  </tr>
	        	</thead>
	        	<tbody>
				 		<%= render 'topline' %>
				    <%= render 'standard' %>
				    <%= render 'event' %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
$(function(){
  $('#select').change( function() {
    document.location.href = '/promos/by/' + gon.date + '/' + $('option:selected', this).val();
  });
});
</script>
