<% content_for :body do %>
<!-- Email Body -->
 <tr>
   <td class="email-content" width="100%" cellpadding="0" cellspacing="0">
     <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
        <tr>
          <td class="content-cell"  style="border-top: 3px solid <%= @order.set_site_color %>">
           <h2 style="text-align: center; color:#555; font-size: 28px">Campaign Report</h2><br>
           <p>Hey <%= @order.user.first_name %>,</p>
           <p>Thanks for advertising with <%= @order.set_site_name %>!</p>
           <p>You’re receiving this email because you requested a performance report of your complete ad campaign — Here we’ve broken down the impressions your individual ads received and how many readers clicked on them.</p>
           <p>Your campaign may continue to receive clicks during the next 24 hours after your last ad was sent, so feel free to see real-time updates of your campaign’s total performance when you log into <a href="/orders/<%= @order.id %>">your account</a>.</p>
           <br>
           <table class="attributes" width="100%" cellpadding="0" cellspacing="0">
             <tr>
               <td class="attributes_content">
                 <table width="100%" cellpadding="0" cellspacing="0">
                   <thead>
                     <tr>
                       <td><strong>Date</strong></td>
                       <td><strong>Type</strong></td>
                       <td><strong>Total Reads</strong></td>
                       <td><strong>Total Clicks</strong></td>
                     </tr>
                   </thead>
                   <% @campaign_promos.each do |campaign| %>
                   <tr>
                     <td class="attributes_item"><%= Date.parse(campaign.date).strftime("%b %d, %Y") %> </td>
                     <td class="attributes_item"><%= campaign.promo_type.capitalize %></td>
                     <td class="attributes_item"><%= number_with_precision(campaign.total_reads, :precision => 0, :delimiter => ',')  %></td>
                     <td class="attributes_item"><%= number_with_precision(campaign.total_clicks, :precision => 0, :delimiter => ',')  %></td>
                    </tr>
                   <% end %>
                 </table>
               </td>
             </tr>
           </table>
           <table><br>
             <p>Got any questions? Send them over to <u><a href="mailto:sales@whereby.us">sales@whereby.us</a></u> and we’ll respond to your shortly.</p>
             <p>Thanks!<br>
             <p><%= @order.set_site_name %></p><br></p>
           </table>
          </td>
        </tr>
     </table>
<% end %>
