<div class="container register">
  <div class="row">
    <div class="col-md-5 m-x-auto pull-xs-none vamiddle" style="margin: 0 auto; display: block; padding-bottom: 60px">  
      <div class="card">
        <div class="card-block p-a-2">
          <h1>Register</h1>
          <p class="text-muted">Create your account</p>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="input-group mb-1">
              <span class="input-group-addon"><i class="icon-user"></i></span>
               <%= f.text_field :first_name , autofocus: true, class: "form-control", placeholder: 'First Name' %>
          </div>
          <div class="input-group mb-1">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <%= f.text_field :last_name , autofocus: true, class: "form-control", placeholder: 'Last Name' %>
          </div>
          <div class="input-group mb-1">
            <span class="input-group-addon"><i class="fa fa-building-o" aria-hidden="true"></i></span>
               <%= f.text_field :company , autofocus: true, class: "form-control", placeholder: 'Company' %>
          </div>
          <div class="input-group mb-1">
              <span class="input-group-addon">@</span>
               <%= f.email_field :email, autofocus: true, class: "form-control",  placeholder: 'Email' %>
          </div>
           <div class="input-group">
              <span class="input-group-addon"><i class="icon-lock"></i></span>             
                <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: 'Password' %><br>
          </div>
          <small>* Minimum of 8 characters</small>
          <div class="input-group mb-1" style="padding-top: 6px">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: 'Repeat Password' %>
          </div> 
          <div class="field py-1">
            <h5>Newsletter</h5>
            <p>What market do you want to advertise to?<br>(Choose at least one)</p>
            <% Site.all.each do |site| %>
            <div class="form-check">
              <label class="form-check-label">
              <%= check_box_tag "user[site_ids][]", site.id, @user.site_ids.include?(site.id), class: 'form-check-input' %>
              <%= site.name %> - <%= site.city.capitalize %>, <%= site.state %>
              </label>
            </div>
            <% end %>
          </div>
          <button type="submit" class="btn btn-primary <%= ENV['CLASS'] %>">Sign Up</button>
         <% end %>
        </div>
        <div class="card-footer">
          <div class="row px-1">
            <div class="col-xs-6">
              <div>Already have an account? <%= render "devise/shared/links" %></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

