<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            Coupon
          </div>
          <div class="card-block">

            <strong>Code</strong>
        		<p><%= @coupon.code %></p>

        		<strong>Description</strong>
        		<p><%= @coupon.description %></p>

        		<strong>Percentage</strong>
        		<p><%= @coupon.amount %>%</p>

        		<strong>Redemption Limit</strong>
        		<p><%= @redeemers.length %> / <%= @coupon.redemption_limit %></p>

        		<strong>Validation Period</strong>
        		<p><%= @coupon.valid_from.strftime('%b %d, %Y') %> - <%= @coupon.valid_until.strftime('%b %d, %Y') %></p>

            <strong>Status</strong>
            <% if @coupon.redeemable? == true %>
              <p><span class="badge badge-pill badge-success">Redeemable</span></p>
            <% else %>
              <p><span class="badge badge-pill badge-danger">Not Redeemable</span></p>
            <% end %>
           
          </div>
        </div>
      </div>
   <div class="col-lg-8">
    <div class="card">
      <div class="card-header">Redeemers</div>
        <div class="card-block">
        <% if @redeemers.length == 0 %>
            <p>No redemptions have been made on this coupon.</p>
        <% else %>
          <table id="client-orders" class="table table-hover table-striped">
            <thead class="thead-default">
            <tr>
              <th>Order ID</th>
              <th>Purchased By</th>
              <th>Date</th>
              <th colspan="2"></th>
            </tr>
            </thead>
            <tbody>
                 <% @redeemers.each do |redeemer| %>
                  <tr>
                    <td>#<%= redeemer.order_id %></td>
                    <td><%= (User.find_by( id: redeemer.user_id )).first_name %> <%= (User.find_by( id: redeemer.user_id )).last_name %></td>
                    <td><%= redeemer.created_at.strftime('%b %d, %Y') %></td>
                    <td><%= edit_icon(edit_order_path(redeemer.order_id)) %></td>
                    <td><%= link_to 'Show', order_path(redeemer.order_id) %></td>
                  </tr> 
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
