<% content_for :body do %>
<!-- Email Body -->
    <tr>
      <td class="email-content" width="100%" cellpadding="0" cellspacing="0">
        <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
          <!-- Body content -->
          <tr>
            <td class="content-cell" style="border-top: 3px solid <%= @order.set_site_color %>;">
            <h2 style="text-align: center; color:#555; font-size: 28px">Promotion Report</h2><br>
             <p>Hey <%= @order.user.first_name %>,</p>
             <p>Thanks for advertising with <%= @order.set_site_name %>!</p>
             <p>You’re receiving this email because you requested a daily report of your ad performances — Here we’ve broken down the impressions your individual ad received and how many readers clicked on it.</p>
             <p>Your campaign may continue to receive clicks over the next 24 hours, so feel free to see real-time updates of your campaign’s total performance when you log into <a href="/orders/<%= @promo.order.id %>">your account</a>.</p>

             <br>
             <table class="attributes" width="100%" cellpadding="0" cellspacing="0">
               <tr>
                 <td class="attributes_content">
                   <table width="100%" cellpadding="0" cellspacing="0">
                     <tr>
                       <td class="attributes_item"><strong>Total Reads:</strong>    <%= number_with_precision(@promo.total_reads, :precision => 0, :delimiter => ',') %></td>
                     </tr>
                     <tr>
                       <td class="attributes_item"><strong>Total Clicks:</strong>    <%= number_with_precision(@promo.total_clicks, :precision => 0, :delimiter => ',') %></td>
                     </tr>
                   </table>
                 </td>
               </tr>
             </table>
             <table><br>
               <p>Got any questions? Send them over to <u><a href="mailto:sales@whereby.us">sales@whereby.us</a></u> and we’ll respond to your shortly.</p>
               <p>Thanks!</p>
               <p><%= @order.set_site_name %></p><br>
             </table>
           </td>
          </tr>
        </table>
    <% end %>
