<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-12">
    <div class="field py-1">
      <p><%= image_tag avatar_url(@user) %></p>
      <p>You can change your profile picture on <a target="_blank" href="http://en.gravatar.com">Gravatar</a>.</p>
    </div>
    <div class="field py-1">
      <%= f.label :first_name, 'First Name' %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    <div class="field py-1">
      <%= f.label :last_name, 'Last Name' %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
    <div class="field py-1">
      <%= f.label :company %>
      <%= f.text_field :company, class: "form-control" %>
    </div>
    <div class="field py-1">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: "form-control" %>
    </div>
    <div class="field py-1">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <% if current_user.is_admin? %>
      <div class="field py-1">
        <%= f.label :role_id %>
        <%= collection_select(:user, :role_id, Role.all, :id, :name, {prompt: true}, class: 'form-control')%>
      </div>
    <% end %>
    <div class="field py-1">
      <%= render 'sites/list' %>
    </div>
    <div class="field py-1">
      <h5>Email Settings</h5><br>
      <% notification_options[:list].each do |n| %>
      <%= f.radio_button notification_options[:name], n[1], class: "form-control-label" %>
      <%= f.label n[0] %></br>
      <%= f.label_tag n[2] %></br></br>
      <% end %>
    </div>
  </div>
</div><br>
  <button type="submit" class="btn btn-primary">Update</button>
<% end %>
