<div class="container">
  <div class="row">
  <div class="col-sm-12 col-lg-4">
  <div class="card">
    <div class="card-header">User Profile
      <%= link_to 'Edit', edit_user_path(current_user), style: "float: right" , class: "text-muted" %>
    </div>
    <div class="card-block">
      <div class="col-sm-12 py-1">
        <p><%= image_tag avatar_url(@user), class: 'img-avatar', style: 'max-width: 50px'%></p>
        <small class="text-muted">Name</small><br />
        <%= @user.first_name %> <%= @user.last_name %>
      </div>
      <div class="col-sm-12 py-1">
        <small class="text-muted">Email</small><br />
        <%= @user.email %>
      </div>
      <div class="col-sm-12 py-1">
          <small class="text-muted">Company</small><br />
          <%= @user.company %>
        </div>
      <div class="col-sm-12 py-1">
          <small class="text-muted">Phone Number</small><br />
          <%= @user.phone %>
      </div>

      <div class="col-sm-12 py-1">
        <% if @newSite %>
          <span class="badge badge-success"> A NEW site has been added </span>
        <% end %>

        <table width="100%">
          <tr>
            <th> <small class="text-muted">Newsletter</small> </th>
            <th > <small class="text-muted" style="float:right;">Toggle</small> </th>
          </tr>
          <% Site.all.each do |f| %>
            <tr>
              <td valign='top'>
                <%= f.name %>
                <br>
                <small><%= f.city.capitalize %></small>
              </td>
              <td valign='top' align='right'>
                <%= check_box_tag :registered, f.id, @user.site_ids.include?(f.id), data: { toggle:'toggle', size:'mini', uid:@user.id }, onchange:'SitesUserToggle(this)' %>
                <br><br>
              </td>
            </tr>
          <% end %>
        </table>

      </div>
    </div>
  </div>
  </div>
  <div class="col-sm-12 col-lg-8">
    <div class="card">
      <div class="card-header">
        <h4>Order History</h4>
        <div style="float:left;">
          <%= paginate @user_orders, window: 2 %>
        </div>
        <div style="float:right;">
          <%= link_to 'Place New Order', packages_path, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="card-block">
        <% if @user_orders.length == 0 %>
            <p>Don't see your order? Please contact us <a href="mailto:sales@whereby.us?subject=Missing Order" style="text-decoration: underline">here</a>.</p>
        <% else %>
          <table id="client-orders" class="table table-hover table-striped">
            <thead class="thead-default">
            <tr>
              <th>#</th>
              <th>Purchased on</th>
              <th>Package</th>
              <th>Price</th>
              <th>Final Amount</th>

              <th colspan="2"></th>
            </tr>
            </thead>
            <tbody>
                <% @user_orders.each do |order| %>
                  <tr>
                    <td><%= order.id %></td>
                    <td><%= order.created_at.strftime("%m/%d/%Y") %></td>
                    <% if order.package_id.nil? %>
                    <td colspan="2"></td>
                <% else %>
                    <% n = order.package_id %>
                    <% u = Package.find(n) %>
                    <td>
                        <%= u.name %>
                        <div class="small">
                            <%= to_cities(u.site_ids, prefix: 'Used by ') %>
                        </div>
                    </td>
                    <td><%= number_to_currency(order.package.price.to_i) %></td>
                    <td><strong><%= number_to_currency(order.final_amount.to_i / 100) %></strong></td>
                <% end %>
                    <td><% edit_icon(edit_order_path(order)) %></td>
                    <td><%= link_to 'Show', order_path(order)%></td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
      <div class="card-footer">
        <%= paginate @user_orders, window: 2 %>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>
</div>
