<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>
      <ul>
        <% @site.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
          <label for="name">Name</label>
          <%= f.text_field :name, class: "form-control", placeholder: "Enter the name of the site." %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
          <label for="name">City</label>
          <%= f.text_field :city, class: "form-control", placeholder: "Enter the city of the site." %>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
          <label for="name">State</label>
          <%= f.select :state, options_for_select(us_states, :selected => f.object.state),{}, class: 'form-control' %>
      </div>
    </div>
  </div><br>

  <div class="row">

    <div class="form-group col-sm-4">
      <div class="form-group">
      <label class="form-control-label" for="appendedPrependedInput">Standard Unit Price</label>
        <div class="controls">
          <div class="input-prepend input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :wbu_s_price, class: "form-control", value: number_with_precision(@site.wbu_s_price, precision: 2) %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group col-sm-4">
      <div class="form-group">
      <label class="form-control-label" for="appendedPrependedInput">Event Unit Price</label>
        <div class="controls">
          <div class="input-prepend input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :wbu_e_price, class: "form-control", value: number_with_precision(@site.wbu_e_price, precision: 2) %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group col-sm-4">
      <div class="form-group">
      <label class="form-control-label" for="appendedPrependedInput">Topline Unit Price</label>
        <div class="controls">
          <div class="input-prepend input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :wbu_t_price, class: "form-control", value: number_with_precision(@site.wbu_t_price, precision: 2) %>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
          <label for="name">Number of Subscribers</label>
           <%= f.text_field :subscribers, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
          <label for="name">Open Rate</label>
           <%= f.text_field :open_rate, class: "form-control" %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
          <label for="name">Average Household Income</label>
           <%= f.text_field :average_income, class: "form-control" %>
      </div>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
          <label for="name">Brand Logo</label><br>
          <%= f.file_field :logo %>
      </div>
    </div>
  </div>

  <div class="row">
   <div class="col-sm-12">
     <div class="form-group">
         <label for="name">Brand Color</label><br>
         <%= f.text_field :color %>
     </div>
   </div>
 </div>

  <button type="submit" class="btn btn-primary">Submit</button><br>
<% end %>
