
<!-- logged-out view start -->
<div class="section-intro">
  <div class="container <%= @site.city.downcase %>" id="mockup">
    <div class="row">
      <div class="col-md-12 col-lg-7 intro">
        <h1 class="main">Advertise with us!</h1>
        <p>Welcome to our advertising platform, where you can reach influential curious locals through customized ads in our daily e-mail newsletters.</p>
        <p>Want deeper local impact? Our <a href="http://whereby.us/studio/">WhereBy.Us Creative Studio</a> designs market research, creative strategy, custom storytelling, and events.</p>
        <br>
    </div>
  </div>
</div>

<!-- Packages By Brands -->
<div class="section-packages" id="packages">
  <div class="container">
    <h1><%= @site.name %> Packages</h1><br>
      <p>We also offer customized packages to fit your goals, and nonprofit discounts.<br>For those things, you'll need to talk to a friendly human on our <a class="links" href="#contact_form">business team</a>.</p><br>
     <!-- Loop Starts -->
      <div class="tnt-background-block">

      <div class="row" style="padding-bottom: 30px;">
       <div class="col-lg-6 offset-lg-3" style="text-align:center">
        <b><%= number_with_delimiter(@site.subscribers , :delimiter => ',') %>+</b> daily subscribers<br>
        <b><%= @site.open_rate %>%+</b> daily open rate<br>
        <b>70%</b> of readers are ages 24-45<br>
        <b>$<%= number_with_delimiter(@site.average_income , :delimiter => ',') %></b> average household income<br>
        Connected: <b>95%</b> of readers live or work in the urban core<br>
        Active: <b>85%</b> visit local events and businesses monthly<br>
      </div>
      </div>

      <div class="row my-2">
      <% @packages.each do |package| %>
        <div class="card packages col-sm-12 col-md-6 col-lg-4">
          <div class="card-block" style="position: relative; height: 360px;">
            <h4 class="card-title"><%= package.name %></h4>
            <medium><%= number_to_currency(package.price) %></medium>
            <p class="card-text pt-1">
              <% if package.promo != 0 %>
                <%= pluralize(package.promo, 'standard promotion') %> <a href="#" class="text-muted" data-toggle="tooltip" data-html="true" data-placement="right" title="<%= render :partial => 'shared/promos/promo' %>"><i class="fa fa-question-circle" aria-hidden="true"></i></a><br>
              <% end %>
              <% if package.title != 0 %>
                <%= pluralize(package.title, 'title sponsorship') %> <a href="#" class="text-muted" data-toggle="tooltip" data-html="true" data-placement="right" title="<%= render :partial => 'shared/promos/title' %>"><i class="fa fa-question-circle" aria-hidden="true"></i></a><br>
              <% end %>
              <% if package.event != 0 %>
               <%= pluralize(package.event, 'event promotion') %> <a href="#" class="text-muted" data-toggle="tooltip" data-html="true" data-placement="right" title="<%= render :partial => 'shared/promos/event' %>"><i class="fa fa-question-circle" aria-hidden="true"></i></a><br>
              <% end %>
            </p>
            <medium class="my-1"><%= package.description %></medium>
            <%= link_to 'Purchase now', package, class: "btn btn-primary" %>
          </div>
         </div>
        <% end %>
        </div>
      <br>
    </div>

  </div>
</div>

<!-- What will it look like? -->
<div class="section-look">
  <div class="container">
    <h1><b>What will it look like?</b></h1><br><br>
    <div class="row">
      <div class="col-sm-12 col-lg-7">
        <div id="carouselExampleIndicators" class="carousel hidden-md-down">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block" src="/assets/<%= @site.city.downcase %>/topline.png" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block" src="/assets/<%= @site.city.downcase %>/standard.png" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block" src="/assets/<%= @site.city.downcase %>/event.png" alt="Third slide">
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-12 col-lg-4 promo-types">
         <div class="row">
            <div class="mb-2 col-sm-12">
              <img src="/assets/title-promo.png" class="hidden-lg-up"><br>
              <a data-target="#carouselExampleIndicators" data-slide-to="0" class="active btn btn-primary mb-1 first promo-preview">Title Promotion</a>
              <%= render :partial => 'shared/promos/title' %>
            </div>
            <div class="mb-2 col-sm-12">
              <img src="/assets/standard-promo.png" class="hidden-lg-up"><br>
              <a data-target="#carouselExampleIndicators" data-slide-to="1" class="btn btn-primary mb-1 promo-preview">Standard Promotion </a>
              <%= render :partial => 'shared/promos/promo' %>
            </div>
            <div class="mb-2 col-sm-12">
              <img src="/assets/event-promo.png" class="hidden-lg-up"><br>
              <a data-target="#carouselExampleIndicators" data-slide-to="2" class="btn btn-primary mb-1 promo-preview">Event Promotion</a>
              <%= render :partial => 'shared/promos/event' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- How does it work? -->
<div class="section-work" id="how">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <h1>How does it work?</h1><br>
      </div>
    </div>
       <div class="row text-center mt-1">
        <div class="col-md-12 col-lg-4 px-3">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading mt-1">Make An Order</h4>
            <p>All promotions are handled through our automated platform. In order to make a purchase, you must sign in to your account or sign up.</p>
        </div>
        <div class="col-md-12 col-lg-4 px-3">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
            </span>
          <h4 class="service-heading mt-1">Get Approved</h4>
           <p>After you submit your order, our team will review it within 24 hours to ensure it lines up with our standards (vulgarity, offensive or defamatory language, and the like) and with spam laws.</p>
        </div>
        <div class="col-md-12 col-lg-4 px-3">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading mt-1">Track Your Promotion</h4>
            <p>Once you receive an order approval email, you can review orders, make changes, and modify your account by logging in.</p>
        </div>
    </div>
  </div>
</div>

<!-- Contact Form -->
<div class="section-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 offset-lg-3 col-lg-6">
        <h1>Contact Us</h1><br>
         <p>If you have questions, concerns, ideas, or just want to tell us what you ate for breakfast, send us a line.</p><br>
        <div>
          <%= render 'contacts/form' %>
      </div>
    </div>
  </div>
</div>


<script>
	$(function () {
	  	$('[data-toggle="tooltip"]').tooltip()
	})
</script>
<%= javascript_include_tag('packages') %>
