<div class="container">
  <div class="row">
    <div class="col-md-5 m-x-auto pull-xs-none vamiddle" style="margin:0 auto; display: block"">
      <div class="card">
        <div class="card-block p-a-2">
         <h2>Change your password</h2><br>
         <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>
          
          <div class="input-group"> 
            <span class="input-group-addon"><i class="icon-lock"></i></span>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: 'New password' %>
          </div>
          <% if @minimum_password_length %>
            <em class="mb-1">(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>

          <div class="input-group my-1">
          <span class="input-group-addon"><i class="icon-lock"></i></span>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm new password' %>
          </div>

            <%= f.submit "Send me reset password instructions", class: "btn btn-primary #{ENV['CLASS']}", style: 'width: 100%' %>
          </div>
          <% end %>
          <div class="card-footer">
            <div class="row px-1">
                <div class="col-xs-6">
                <div>Already have an account? <%= render "devise/shared/links" %></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

